<html>
<head>
<title>华中科技大学本科教学课程-数据库技术及应用</title>
</head>
<body>
<div><img src="/hustdbroot/images/logo.png"><h2>华中科技大学本科教学课程</h2>
<div align="center"><h1>《数据库技术及应用》上机部分</h1></div> </div>
<div align="center">主讲： 汪盛 副教授 生命科学与技术学院</div>
<div align="center"> </div>
<div align="center">如有需要请用联系方式 </div>
<div align="center">  email to:  shengwang@hust.edu.cn</div>
<div align="center">  QQ  to:  594475773@qq.com</div>

<h2>课程预备知识：</h2>
本课程紧密联系"数据库技术及应用（生物信息）"理论课程, 要求学生具有一定的计算机基础（计算机基础，计算机网络技术，操作系统基础，C/C++语言，JAVA以及GOLANG语言）, HTML标记语言以及Web相关知识基础, 并有一 定的编程能力。
同时, 本上机部分的实践活动需要在装有CENTOS系统的计算机上完成, 需要学生对Linux有一定的了解.

<h2>上机环境：</h2>
本课程将采用流行的Oracle 19.3(Linux版，对于Windows版，同学门可以自行练习)
1. CENTOS Linux 7.x;
2. Oracle 19.3C Linux版;
3. Oracle SQL Developer 23.1;
4. Oracle SQL Developer Modeler 23.3;
5. MyEclipse 2021 and Eclipse 2023;
6. GCC 8.x-9.x, Java 1.8-11, GOLAN 1.20+;

<h2>课程目的：</h2>
        1. 掌据基本的Linux操作系统使用技巧, 包括网络配置，执行命令，文件传输等。 了解Linux与其他OS不同之处, 及其优势特点。
        2. 通过实机练习, 让学生掌握基本的关系数据库技巧, 并加深理论课相关知识点, 特别是Oracle和MONGODB。
<h2>课程要求：</h2>
       认真学习每个练习的基本操作，明了每个操作所对应的意义，特别是操作输出文件以及日志文件内容。要求学生详细记录相关操作结果，并对结果的正确与否进行分 析。要明 了输出数据的理论和实际的意义，要能对基本的问题有一定的解决能力。
       上机练习结束后，要对整个上机过程形成一个完整的报告，按指定格式撰写，要有清晰的层次，分析问题时要有科学性和逻辑性。

	   <form action="dblogin?userName=biohust&password=123" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td>用户名：<input type="text" name="userName1"></td>
		   </tr>
		   <tr>
			   <td>密码：<input type="password" name="password1"></td>
		   </tr>
		   <tr>
			   <td><input type="submit" value="登录" name="submit1">
		   </tr>
		   </table>
	   </form>

	   上机练习内容：
	   <form action="Lesson0" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson0" name="submit2"> 数据库上机预备: Oracle 19.3C数据库及配套软件安装
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson1" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson1" name="submit2"> Oracle数据库基础: SQL语言及数据库编程
		   </tr>
		   </table>
	   </form>

	   <form action="Lesson2" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson2" name="submit3"> SQL 基础语句
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson3" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson3" name="submit3"> 表空间及表的完整性约束
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson4" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson4" name="submit3"> 查寻处理及SQL语言查询优化
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson5" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson5" name="submit3"> 数据库连接：嵌入式SQL语言及数据库编程
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson6" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson6" name="submit3"> 小型数据库设计: 酒店管理数据库
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson7" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson7" name="submit3"> 数据库备份及恢复
		   </tr>
		   </table>
	   </form>
	   <form action="Lesson8" method="get" onsubmit="return  checkForm(this);">
	   <table>
		   <tr>
			   <td><input type="submit" value="Lesson8" name="submit3">  MONGODB数据库基础: NoSQL语言及数据库编程
		   </tr>
		   </table>
	   </form>
<div align="center"><h1>本教学网站基于GO-MONGODB开发</h1></div>


高级拓展部分：
一 利用MyEclipse进行调试java语言及数据库访问.
二 利用Eclipse进行调试CPP语言及数据库访问.
三 利用VSCode进行调试GOLANG语言及数据库访问.
</body>
</html>