<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html pageencoding="UTF-8" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
  <body>
    <div align="center">
      <h1>&nbsp; 向量数据库</h1>
    </div>
    <br>
    <p style="text-align: left;">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      Oracle 宣布<strong>计划在 Oracle Database 23c 中添加使用 AI 向量的语义搜索功能</strong>。
      此功能集合称为<strong>AI Vector Search</strong>，其中包括<strong>新的向量数据类型、向量索引
        和向量搜索 SQL 运算符</strong>，使 <strong>Oracle 数据库（Oracle Database）</strong>能
      够将文档、图像和其他非结构化数据的语义内容储存为向量，并以此快速运行相似性查询。这些新功能还支持<strong>Retrieval
        Augmented Generation (RAG)</strong>，这是一种创新性的生成式 AI 技术，将大型语言模型
      (LLM) 和私有商业数据相结合，以回答自然语言问题。RAG 提供更高的准确性，并通过将私有数据包含在 LLM
      培训数据中来避免泄露私有数据。<br>
    </p>
    <p style="text-align: left;"><span>
        <meta http-equiv="content-type" content="text/html;
          charset=UTF-8">
        <span><strong>通过将 AI 向量搜索添加到 Oracle
            数据库，我们可帮助客户快速轻松地获得人工智能的优势，而不会影响安全性、数据完整性或性能</strong>。使用
          Oracle AI Vector
          搜索无需机器学习的专业知识，数据库用户（包括开发人员和管理员）都可以在短时间内学习如何使用此功能。</span></span></p>
  </body>
</html>
